*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100vh;
    width: 100%;
}

body {
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
}
